<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>

        <script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/require.js"></script>
        <script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/vendor/jquery-1.7.2.js"></script>
        <script type="text/javascript">
            var Aloha = window.Aloha || ( window.Aloha = {} );

            Aloha.settings = {
                plugins: {
                    load: "common/ui, common/format, common/paste, common/block, common/list, common/table, extra/draganddropfiles, common/image"
                }
            }
        </script>
        <script src="http://cdn.aloha-editor.org/latest/lib/aloha.js"></script>
        <script src="http://cdn.itadvice.de/ng-aloha-editor/ng-aloha-editor.js"></script>
        <script>
        angular.module('ExamplePage', ['ngAlohaEditor']);
        </script>
        <script src="controller.js"></script>
        <script>
        var ngAlohaEditorConfig = { baseUrl: '' };
        </script>
        <link href="http://cdn.aloha-editor.org/latest/css/aloha.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
        <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <title>ng-aloha-editor | Aloha for AngularJS with Two Way Binding</title>
    </head>
    <body ng-app="ExamplePage">
    <a href="https://github.com/terwey/ng-aloha-editor"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <h1>ng-aloha-editor</h1>
    <p>
        Here's an example of the Aloha Directive with the two-way binding in a demo using Aloha on the left and a raw textarea output on the right. Both can be modified.
    </p>
    
    <h2>Quickstart</h2>
    <p>
    Include the Directive's source in your App's main file, and the Aloha specifics
    <pre><code>&lt;script src="libs/alohaeditor-0.23.26/aloha/lib/require.js"&gt;&lt;/script&gt;
&lt;script src="libs/alohaeditor-0.23.26/aloha/lib/vendor/jquery-1.7.2.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;
    var Aloha = window.Aloha || ( window.Aloha = {} );

    Aloha.settings = {
        plugins: {
            load: "common/ui, common/format, common/paste, common/block, common/list, common/table, extra/draganddropfiles, common/image"
        }
    }
&lt;/script&gt;
&lt;script src="libs/alohaeditor-0.23.26/aloha/lib/aloha.js"&gt;&lt;/script&gt;
&lt;script src="ng-aloha-editor.js"&gt;&lt;/script&gt;</code></pre>
    Add the following to your view and hookup your Model
    <pre><code>&lt;div data-aloha-content='your.Model' aloha&gt;&lt;/div&gt;</code></pre>
    This is it! It should work now :)
    </p>
    <h2>Example</h2>
    <div ng-controller="MainCtrl">
        <fieldset
            ng-repeat="ex in examples">
            <legend>{{ex.name}}</legend>
            <fieldset style="float: left; width: 45%">
                <legend>Aloha</legend>
                <div
                    style="height: 200px; border: 1px solid gray; overflow: scroll;"
                    data-aloha-content='ex.content'
                    aloha>
                </div>
            </fieldset>
            <fieldset style="float: left; width: 45%">
                <legend>RAW HTML in Textarea</legend>
                <textarea
                    style="width: 100%;height: 200px;"
                    ng-model='ex.content'>
                </textarea>
            </fieldset>
        </fieldset>
        <br />
        <fieldset>
            <legend>Examples in JSON</legend>
            <textarea style="width: 100%; height: 200px" readonly="readonly">
                {{ examples | json }}
            </textarea>
        </fieldset>
    </div>
  </body>
</html>